.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
}
.box {
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 4%;
}
.dice--container {
  background-color: yellow;
  margin: auto;
  width: 18%;
  padding-top: 18%;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.dice--item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dice--container:hover {
  background-color: rgba(45, 45, 43, 0.985);
  color: white;
}
.isHeld {
  background-color: rgba(192, 90, 0, 0.985);
}
.initiate {
  width: 100px;
  height: 50px;
  background-color: yellow;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.initiate:hover {
  background-color: rgba(157, 157, 13, 0.985);
  color: white;
}
.hide {
  display: none;
}
.win-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(172, 68, 68);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
.win-board span {
  color: rgb(0, 0, 0);
  font: bold;
  font-family: sans-serif;
}
.rules {
  color: white;
}
.rules p {
  margin-bottom: 30px;
  margin-top: 10;
}
.rules h1 {
  margin-bottom: 0;
}
